---
layout: archive
---

<style type="text/css" media="screen">
  .container {
    text-align:center;
  }
  .image_button{
    display:inline-block;
    margin:5px 20px;
    padding:5px;
  }
</style>

<h3 class="archive__subtitle">All comics</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="container">
  {% for post in posts %}
    {% assign loopindex = forloop.index | modulo: 2 %}
    {% assign img_width = 300 %}
      <div class="image_button">
        {% include archive_comic_preview.html %}
      </div>

      <hr>

      <br>
  {% endfor %}
</div>