---
layout: default
button_width: 77
---


<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    text-align: center;
  }
</style>

<div class="container">
  
  {% if page.previous.url %}
  <a href="{{page.previous.url}}">
    <img alt="previous" src="/assets/images/arrow-left.png" width="{{layout.button_width}}">
  </a>
  {% endif %}

  <img alt="random" src="/assets/images/dice.png">

  {% if page.next.url %}
  <a href="{{page.next.url}}">
    <img alt="next" src="/assets/images/arrow.png" width="{{layout.button_width}}">
  </a>
  {% endif %}

</div>


<br>
{{ content }}