---
layout: default
---


<style type="text/css" media="screen">
  .navi_toolbox {
    text-align:center;
  }
  .image_button{
    display:inline-block;
    margin:5px 20px;
    padding:5px;
  }
</style>

<div class="navi_toolbox">

  {% if page.previous.url %}
  <div class="image_button">
    <a href="{{site.baseurl}}{{page.previous.url}}">
    <img alt="previous post" src="/assets/images/arrow-left.png">
    </a>
  </div>
  {% endif %}

  <img alt="random post" src="/assets/images/dice.png" onclick="document.location='/'" title="Show random post">

  {% if page.next.url %}
  <div class="image_button">
    <a href="{{site.baseurl}}{{page.next.url}}">
    <img alt="next post" src="/assets/images/arrow.png">
    </a>
  </div>
  {% endif %}

</div>


<br>
{{ content }}